#edit{
    margin-top: 50px;
}

#intro{
    margin-left: 10%;
}

#border{
    border-style: groove;
    margin-left:10%;
    margin-right:10%;
    margin-top:7%;
    margin-bottom:7%;

}

#buttons{
    margin-left: 2%;
    margin-right: 2%;
}


